/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/* 

    BODY

*/

body {
    height: 100vh;
    background: linear-gradient(to bottom, #009688 15%, #dbdbd4 15%);
}

/* 

    MAIN

*/

main {
    height: 95%;
    width: 80%;
    background-color: red;
}

/* 

    NAV

*/

aside {
    width: 40%;
    height: 100%;
    background-color:#EAEAEA;
}

/* 

    NAV HEADER

*/

#user-nav {
    height: 65px;
}

#user-profile img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#user-menu {
    width: 100px;
    height: 100%;
}
#user-menu i {
    font-size: 18px;
    color: #B1B4B8;
}
#notifications {
    width: 100%;
    background-color: #8EDAFC;
}

#notifications #bell {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #F3FBFF;
}

#notifications #bell i {
    font-size: 24px;
    color: #8EDAFC;
}

#notifications div:nth-of-type(2) span {
    font-weight: 600;
}

#notifications div:nth-of-type(2) a {
    text-decoration: underline;
    color: grey;
    font-size: 14px;
}

/* 

   CHAT-CONTAINER

*/

#chat-container {
    background-color: lightgreen;
}

/* 

    DEBUG

*/


/* 

    NAV HEADER

*/

/* .debug header {
    background-color: blue;
} */

/* .debug #user-profile {
    background-color: white;
} */

/* .debug #user-menu {
    background-color: purple;
} */

.debug #notifications {
    /* background-color: lightblue; */
    height: 100px;
}