/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/* 

    BODY

*/

body {
    height: 100vh;
    background: linear-gradient(to bottom, #009688 15%, #dbdbd4 15%);
}

/* 

    MAIN

*/

main {
    height: 95%;
    width: 80%;
    background-color: red;
}

/* 

    NAV

*/

aside {
    width: 40%;
    height: 100%;
    background-color: lightcoral;
}

/* 

    NAV HEADER

*/

header {
    height: 25%;
    background-color: blue;
}

#user-nav {
    height: 70px;
}

#user-profile {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
}

#user-menu {
    width: 100px;
    height: 100%;
    background-color: purple;
}