/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/* 

    BODY

*/

  body {
    width: 100vw;
    height: 100vh;
    background-color: #DDDBD1;
    background-image: linear-gradient(to right, #009688, #009688);
    background-size: 100% 15%;
    background-repeat: no-repeat;
    position: relative;
  }

  /* 
  
    MAIN

  */

  main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #container-web {
    height: 900px;
    width: 1550px;
  }

  /* 
  
    NAV DELLE CHAT

  */

  nav {
    height: 100%;
    width: 40%;
  }

  nav header {
    height: 60px;
  }

  nav #user-image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  #user-name {
    font-size: 16px;
    line-height: 16px;
  }

/* 

  DEBUG

*/

/* 

  CONTAINER PRINCIPALE

*/

.debug#container-web{
    background-color: red;
}

/* 

    NAV DELLE CHAT

*/

.debug nav {
    background-color: lightcoral;
}

.debug header {
    background-color: blue;
}

.debug nav #user-image {
    background-color: white;
}
