<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vue Boolzapp</title>

        <!-- CSS -->
        <link rel="stylesheet" href="css/style.css">

        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

        <!-- Fontawesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />    
        
        <body class="d-flex justify-content-center align-items-center">

            <main class="debug d-flex" id="app">

                <!-- Qui inizia l'aside di Boolzapp -->
                <aside class="d-flex flex-column">
                    <!-- Qui inizia l'header -->
                    <header>
                        <!-- Qui inizia il menù profilo utente -->
                        <div class="row m-0 align-items-center justify-content-between" id="user-nav" >

                            <div class="col-6 d-flex align-items-center">
                                <div id="user-profile">
                                    <img :src="user.avatar" :alt="user.name">
                                </div>

                                <div id="user-name">
                                    {{ user.name }}
                                </div>
                            </div>

                            <div id="user-menu" class="col-6 d-flex align-items-center">
                                <button>
                                    <i class="fa-solid fa-circle-notch"></i>
                                </button>
                                <button>
                                    <i class="fa-solid fa-message"></i>
                                </button>
                                <button>
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </button>
                            </div>
                            
                        </div>
                        <!-- Qui finisce il menù profilo utente -->

                        <!-- Qui inizia il menù di gestione delle Notifiche -->
                        <div class="row g-0">
                            <div id="notifications" class="col-auto d-flex align-items-center">
                                <div id="bell" class="d-flex justify-content-center align-items-center">
                                    <i class="fa-solid fa-bell-slash"></i>
                                </div>
                                <div class="ps-2">
                                    <span>
                                        Ricevi notifiche di nuovi messaggi
                                    </span>
                                    <br>
                                    <a href="#">
                                        Attiva notifiche desktop
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Qui finisce il menù di gestione delle Notifiche -->

                        <!-- Qui inizia la search bar delle chat -->

                        <div class="row g-0">

                            <div id="search-chat" class="col">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text rounded-0 ">
                                        <button>
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                         </button>
                                    </span>
                                    <input @keyup="searchChat()" v-model="searchContact" type="text" class="form-control rounded-0 " placeholder="Cerca o inizia una nuova chat">
                                  </div>
                            </div>

                        </div>
                        <!-- Qui finisce la search bar delle chat -->
                    </header>

                    <!-- Qui inizia la rubrica delle Chat -->

                    <div id="chat-container"> 
                        <div
                        @click="contactShow(i)"
                        class="single-chat row g-0" v-for="(contact, i) in contacts"
                        :class="{
                            'active': i == activeContact
                        }">

                            <div class="col-auto user-img">
                                <img :src="contacts[i].avatar" alt="">
                            </div>

                            <div class="col-auto">
                                <b>
                                    {{ contact.name }}
                                </b>
                                <br>
                                <small class="message">
                                    {{ contacts[i].messages[contacts[i].messages.length-1].message }}
                                </small>
                            </div>

                            <div class="col-auto">
                                {{ contacts[i].messages[contacts[i].messages.length-1].date.split(' ', 2)[1] }}
                            </div>
                        </div>
                    </div>
                    <!-- Qui finisce la rubrica delle Chat -->

                </aside>
                <!-- Qui finisce l'aside di Boolzapp -->

                <!-- Qui inizia il Menu delle Chat con gli altri utenti -->
                <section id="chat-active-container" class="d-flex flex-column">

                    <!-- Qui inizia l'header che mostra l'utente con cui stiamo parlando -->
                    <header class="flex-shrink-0 ">
                        <div class="chat-user-profile row m-0 h-100 align-items-center justify-content-between">

                            <div class="col-6 d-flex align-items-center">
                                <div>
                                    <img :src="contacts[activeContact].avatar" :alt="contacts[activeContact].name">
                                </div>
                                <div class="chat-user-name">
                                    <span>
                                       {{ contacts[activeContact].name }}
                                    </span>
                                    <br>
                                    <small>
                                        Ultimo accesso oggi alle {{ contacts[activeContact].messages[0]['date'].split(' ', 2)[1] }}
                                    </small>
                                </div>

                            </div>

                            <div id="chat-user-menu" class="col-6 d-flex align-items-center">
                                <button>
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                                <button>
                                    <i class="fa-solid fa-paperclip"></i>
                                </button>
                                <button>
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </button>
                            </div>
                            
                        </div>  
                    </header>
                    <!-- Qui finisce l'header che mostra l'utente con cui stiamo parlando -->

                    <!-- Qui inizia la chat -->
                    <main id="chat" class="flex-grow-1 d-flex justify-content-center align-items-end">

                        <div class="small-chat-container">
                            <div v-for="(message, singleMessage) in contacts[activeContact].messages" class="single-message-container d-flex"
                            :class="{
                                'sent justify-content-end': message.status == 'sent',
                                'received': message.status == 'received'
                                }">
                                <div class="single-message-item">
                                    <div class="message-text">
                                        {{ contacts[activeContact].messages[singleMessage]['message'] }}  
                                    </div>
                                    <div class="message-item">
                                        {{ contacts[activeContact].messages[singleMessage]['date'].split(' ', 2)[1] }}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </main>
                    <!-- Qui finisce la chat -->

                    <!-- Qui inizia il footer con l'input di invio dei nuovi messaggi -->
                    <footer class="flex-shrink-0 ">

                        <div class="row g-0 h-100" id="new-chat">
                            <div class="col input-group flex-nowrap">
                                <span class="input-group-text rounded-0 border-0">
                                    <button>
                                        <i class="fa-regular fa-face-smile"></i>
                                    </button>
                                </span>
                                <input v-model="newMessage" @keyup.enter="newObjMessage()" type="text" class="form-control border-0" placeholder="Scrivi un messaggio">
                                <span class="input-group-text rounded-0 border-0">
                                    <button>
                                        <i class="fa-solid fa-microphone"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    
                    </footer>
                    <!-- Qui finisce il footer con l'input di invio dei nuovi messaggi -->

                </section>
                <!-- Qui finisce il Menu delle Chat con gli altri utenti -->

            </main>
            <!-- Importazione Vue -->
            <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

            <!-- Mio Script -->
            <script src="js/scripts.js" type="text/javascript"></script>

        </body>

</html>